
main{
   position: relative;
}
main img#coin_g{
  position: absolute;
    width: 176px;
    top: -111px;
    left: 221px;
}
main img#coin_d{
  position: absolute; 
  width: 176px; 
  top: 67px  ; 
  right: 212px;
  margin-bottom: 10px;
}
main h2 {
  font-family: GreatVibes;
  color: #ffffff;
  font-size: 7.5em;
  text-align: center;
  transform: translateY(10px);
  transition: opacity 1.5s, transform 1.5s;
}

main div.ligne_1 {
  margin: 20px auto 20px auto;
  width: 80%;
  display: flex;
}
main div.ligne_1 div {
  position: relative;
  width: fit-content;
  height: 383px;
  object-fit: cover;
  padding: 7px;
  
}
main div.ligne_1 div img {
  width: 100%;
  height: 100%;
}
main div.ligne_1 div:hover img{
  opacity: 0.5;
  box-shadow: 0 8px 50px #D0BC74;
  border-radius: 20px;
  transform: scale(0.98);
}
main div.ligne_1 div button:hover {
  cursor: pointer;
}
main div.ligne_1 div h5 {
  position: absolute;
  top: -16px;
  left: 139px;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 14px;
  border: 2px solid black;
  color: black;
  padding: 5px 19px;
  font-family: RobotoLight;
  background-color: #ffffff;
  opacity: 0;
}
main div.ligne_1 div button.text {
  position: absolute;
    bottom: 31px;
    left: 134px;
    text-transform: uppercase;
    background-color: rgb(159, 141, 77);
    border: rgb(159, 141, 77);
    border-radius: 11px;
    padding: 3px 20px;
    color: white;
    font-size: 1.2em;
    font-weight: 400;
    font-family: arial;
    opacity: 0;
}
main div.ligne_1 div:hover button.text{
  opacity: 1;
  transform: translateY(-50px);
  transition: opacity 0.5s, transform 0.5s;
}
main div.ligne_1 div:hover h5{
  opacity: 1;
  transform: translateY(10px);
  transition: opacity 0.5s, transform 0.5s;
}
/* main div.ligne_1 div img#coin_gaucheup {
  border-radius: 50px 0 0 0;
}
main div.ligne_1 div img#coin_droitup{
  border-radius:  0 50px 0 0;
}
main div.ligne_1 div img#coin_droitbuttom{
  border-radius:  0 0 50px 0;
}
main div.ligne_1 div img#coin_gauchebuttom{
  border-radius:  0 0 0 50px;
} */

img#coin_left {
  position: fixed;
  width: 57px;
  top: -3px;
  left: -2px;
}
img#coin_buttom {
  position: fixed;
  width: 57px;
  bottom: -4px;
  right: -3px;
}
@media screen and (max-width: 1150px) {
  main img#coin_g {
    width: 115px;
    top: -64px;
    left: 4%;
  }
  main img#coin_d {
    width: 115px;
    top: 214px;
    left: 80%;
  }
  main div.ligne_1{
    flex-direction: column;
    align-items: center;
  }
  main div.ligne_1 div img   {
    border-radius:  50px;
  }
  main div.ligne_1 div img#coin_gaucheup {
    border-radius: 50px ;
  }
  main div.ligne_1 div img#coin_droitup{
    border-radius:  50px;
  }
  main div.ligne_1 div img#coin_droitbuttom{
    border-radius:  50px;
  }
  main div.ligne_1 div img#coin_gauchebuttom{
    border-radius:  50px;
  }
}