
main {
  position: relative;
}
main div#main {
  display: flex;
  margin: 25px 0 0 150px;
}
main div#main div#description h2 {
  font-family: GreatVibes;
  color: #dfd5af;
  font-size: 5.5em;
  margin: 33px 165px 0 0;
  transform: translateY(10px);
  transition: opacity 1.5s, transform 1.5s;
}
main div#main div#description h4 {
  font-family: Aura;
  color: #9e9983;
  font-size: 1.35em;
  margin: 6px 0 30px 0;
  letter-spacing: 1px;
}
main div#main div#description p {
  color: #c7b166;
    font-size: 1.05em;
    margin: 5px 0 5px 0;
    font-family: RobotoLight;
    text-align: justify;
    padding-right: 173px;
    line-height: 19.5px;
}
main div#main img {
  width: 526px;
  margin-left: 50px;
  margin-right: 46px;
}
main div#main div#description div#under_description {
  display: flex;
  margin: 50px 0 0 168px;
  flex-direction: column;
}
main div#main div#description div#under_description button {
  font-family: RobotoLight;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;
  width: 191px;
  color: #000000;
  padding: 5px;
  background-color: #dfd5af;
  border-radius: 20px;
}
main div#main div#description div#under_description button:hover{
  background-color: #ffffff;
  cursor: pointer;
}
main div#main div#description div#under_description img {
  width: 195px;
  margin: 10px 0 0 5px;
}
main video {
  width: 100%;
  margin-top: 25px;
}
main h2#vid_title {
  font-family: GreatVibes;
  color: #ffffff;
  font-size: 7.5em;
  position: absolute;
  left: 441px;
  bottom: 244px;
}
main button#acheter {
  background-color: white;
  padding: 9px 26px;
  text-transform: uppercase;
  position: absolute;
  border: none;
  border-radius: 24px;
  font-size: 1.2em;
  left: 626px;
  bottom: 249px;
}
main button#acheter:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

article table {
    margin: 20px auto 20px auto;
}
article table td {
  position: relative;
  width: fit-content;
  height: 383px;
  object-fit: cover;
  padding: 7px;
}
article table tr td img {
  width: 100%;
  height: 100%;
}
article table tr td:hover img {
  opacity: 0.5;
}
article table tr td:hover div.text {
  opacity: 1;
  transform: translateY(-50px);
  transition: opacity 0.5s, transform 0.5s;
}
article table tr td div.text {
  position: absolute;
  font-family: GreatVibes;
  color: #dccc8e;
  font-size: 1.7em;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}
@media screen and (max-width: 1150px) {
  main div#main {
    flex-direction: column;
    margin-left: 25%;
  }
  main div#main div#description div#under_description{
    margin-left: 14%;
  }
  main div#main div#description div#under_description img {
    margin-left: -1%;
  }
  main div#main div#description h4{
    text-align: initial;
  }
  main div#main div#description  p{
    padding-right: 44px;
  }
  main div#main img{
    width: 72%;
    margin-left: 4%;
  }
  h2#vid_title , button#acheter{
    display: none;
  }
  article table tr{
    width: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

